<div id="main">
<!-- Header -->
    <header id="header">
        <h1>Lens</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <p>
    
            <%= link_to 'Volver al inicio ', :back %> 
        </p>

        
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </header>
</div>

    <h2 class= "text-center my-5" > Si quieres saber sobre mi y mis proyectos puedes contactarme  </h2>

        <div class="row g-0 text-bg-info ">
            <div class="card col-10 col-sm-5 col-md-3 p-0 bg-white text-white">
                <%= image_tag 'user.png', class:'img-fluid rounded-star w-50 text-center'  %>
                
            </div>
            <div class="container col-md-8  mt-5">
                <div class="card-body ">
                    <h5 class="card-title"></h5>
                    <h6 class="card-title" >Contacto  : Diego Gonzalez Hood </h6>
                    <p class="card-text">Celular :  +569 77656853</p>
                    <p class="card-text">Correo  :  diego.gonzalez30@outlook.com</p>
                    
                </div>

        </div>
    </div>
